html {
  width: 100%;
  height: 100%;
  background-color: rgb(50, 49, 53);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

/* terminal styles */

::-webkit-scrollbar {
  background: #5b5a5a;
}

::-webkit-scrollbar-thumb {
  background: #444444;
}

::-webkit-scrollbar-corner {
  background: #444444;
}

#terminal {
  padding: 2px;
}

#terminal-wrapper {
  background-color: black
}

/* app styles */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: calc(100vh - 420px);
}

.Conversation {
  overflow-y: scroll;
  flex: 1 1 auto;
  padding: 10px;
  background-color: rgb(50, 49, 53);
}

.user-input_form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(50, 49, 53);
}

.user-input_text-box {
  flex: 1 1 auto;
  padding: 10px;
}

.user-input_submit-button {
  padding: 10px;
  width: 140px;
  background-color: rgb(13, 130, 130);
  border: none;
  color: white;
  transition: all 0.1s ease-in-out;
}

.user-input_submit-button:hover {
  background-color: rgb(12, 105, 105);
  cursor: pointer;
}